---
import { Image } from "astro:assets";
import KnotCard from "./knotCard.astro";

import binerBlock from "./images/binerBlock.png";
import cloveHitch from "./images/cloveHitch.png";

const name = "Clove Hitch";
const link = "https://www.animatedknots.com/clove-hitch-knot-rope-end";
---

<KnotCard {name} {link}>
  <Image src={cloveHitch} alt={name} />
  <p>Used to secure one end of the rope while repelling.</p>
  <Image src={binerBlock} alt="biner block" />
</KnotCard>
